<!DOCTYPE>
<html>
    <head>
        <title> TourIt </title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='stylesheet.css'>
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>


	</head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
    <!-- <img alt="Brand" src="..."> -->
          <i style='color:white;' class="fas fa fa-globe">TourIt</i>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      </ul>
      <div class="nav navbar-nav">

          <!-- <form class="navbar-form navbar-center" role="search" action='/' method='POST'>
            <div class="form-group">
              <input type="text" name='destinationName' class="form-control" placeholder="Search">
              <button style='display:inline;' type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>

          </form>  -->
      </div>
      <div class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inspirations <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Option1</a></li>
            <li><a href="#">Option2</a></li>
            <li><a href="#">Option3</a></li>
            <li><a href="#">Option4</a></li>
            <li><a href="#">Option5</a></li>
          </ul>
        </li>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Holidays </a></li>
        <li><a href="#">Hotels </a></li>
        <li><a href="/login">Signup  <i class="fa fa-user-plus"></i></a></li>
        <li><a href="/login">Login  <i class="fa fa-user"></i></a></li>
      </ul>
      </div>
</nav>